{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "server": {
      "plugins": [
        [
          "css-modules-transform",
          {
            "preprocessCss": "./loaders/sass-loader.js",
            "generateScopedName": "./loaders/scope-name.js",
            "extensions": [".scss", ".css"]
          }
        ]
      ]
    }
  }
}
