{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          // "node": "10",
          "esmodules": true
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-transform-spread", "@babel/plugin-proposal-object-rest-spread"],
  "env": {
    "server": {
      "plugins": [
        [
          "css-modules-transform",
          {
            "preprocessCss": "./loaders/sass-loader.js",
            "generateScopedName": "./loaders/scope-name.js",
            "extensions": [".scss", ".css"]
          }
        ]
      ]
    }
  }
}
